<h1><a href="/">GG</a></h1>
<nav class="header">
  <ul class="nav-bar">
    <li><a href="/games">All Games</a></li>
    <li><a href="/mygames">My Game Lists</a></li>
    <li><a href="/users/:id">My Profile</a></li>
  </ul>
</nav>
