<h1 class="GG"><a id="GG" class="header" href="/">GG</a></h1>
<nav class="header">
  <ul class="nav-bar">
    <li class="nav"><a class="header" href="/games">All Games</a></li>
    <li class="nav"><a class="header" href="/games/new">Add a Game</a></li>
    <li class="nav"><a class="header" href="/users/new">Sign Up</a></li>
    <li class="nav"><a class="header" href="/sessions/new">Log In</a></li>
  </ul>
</nav>
