<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GoodGames</title>
  </head>
  <body>
    <header>
      <h1>welcome to good games</h1>
      <h3><a href="/users/">Sign In</a></h3>
    </header>
    <br/>
    <div>
      <h1>GOOD GAMES</h1>
      <h3>Who we are</h3>
      <br/>
      <a href='/users/new'>Create an account</a>
    </div>
  </body>
</html>
