<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodGames</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <header>
      <h4 class="homepage-header"><a class="homepage-a" href="/sessions/new">Login</a></h4>
    </header>
    <br/>
    <div class="homepage">
      <h1 class="home-h1">GOOD GAMES</h1>
      <h3 class="home-h3">Track your gaming habits in one place.</h3>
      <h4 class="home-h4"><img src="https://i.imgur.com/qaSpJxg.png" id="games"/></h4>
      <h4 class="homepage-signup"><a class="homepage-a" href="/users/new">Sign Up</a></h4>
      <br/>
      <!-- <a href="/users/new">Create an account</a> -->
    </div>
  </body>
</html>
