/* COLOR CODES */
/* Celadon Blue - #0081af */
/* Palatinate Purple - #693668 */
/* Alabaster - #e0e2db */
/* Ao English - #157f1f */
/* Red Crayola - #ea1744 */
/* Cyclamen - #f26ca7 */
/* Dark Spring Green - #157145 */
/* Bright Lilac - #cb9cf2 */
/* Dark Slate Gray - #294d4a */
/* Feldgrau - #445552 */
/* Glossy Grape - #A799B7 */
/* Glossy Grape - #9888A5 */
/* Forest Green Crayola - #6d9f71 */


/*------- FONTS --------*/
@font-face {
  font-family: 'Games';
  src: url('./fonts/Games-XvD2.ttf') format('ttf');
}

@font-face {
  font-family: 'Acquire';
  src: url('./fonts/AquireBold-8Ma60.otf') format('otf');
}

@font-face {
  font-family: 'Asleepytiming';
  src: url('./fonts/Asleepytiming-1GaEZ.ttf') format('ttf');
}

@font-face {
  font-family: 'Momcake';
  src: url('./fonts/MomcakeBold-WyonA.otf') format('otf');
}

@font-face {
    font-family: 'GepesteV';
    src: url('./fonts/Gepestev-nRJgO.ttf') format('ttf');
}

/* --------PLATFORM ICONS ---------*/

.Xbox {
  content: url('https://www.freepnglogos.com/uploads/xbox-one-logo-vector-24.png');
  max-width: 60px;
  max-height: 60px;
}

.Playstation {
  content: url('https://cdn0.iconfinder.com/data/icons/logos-21/40/PlayStation-256.png');
  max-width: 60px;
  max-height: 65px;
}

.Nintendo {
  content: url('https://www.freepnglogos.com/uploads/nintendo-logo-png/nintendo-logo-vector-20.png');
  max-width: 75px;
  max-height: 65px;
}

.PC {
  content: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-windows-256.png');
  max-width: 60px;
}

.Mac {
  content: url('https://cdn4.iconfinder.com/data/icons/proglyphs-free/512/Apple-256.png');
  max-width: 60px;
}

.VR {
  content: url('https://cdn1.iconfinder.com/data/icons/virtual-reality-82/32/Virtual_Reality_vr_glasses_goggles_headset_user-256.png');
  max-width: 60px;
}

/*---------- PARTIALS----------- */
body {
  background-color: #294d4a;
  margin: 0 auto;
}

.GG {
  text-align: center;
  padding: 10px;
  color: white;
  font-family: 'Games';
  margin: 0 auto;
  font-size: 5em;
}

#GG:hover {
  color: #e0e2db;
}

header {
  background:  #294d4a;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;

}

a.header {
  text-decoration: none;
  color: white;
}

.nav-bar {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav {
  display: inline-block;
  margin: 0 15px 0 15px;
  font-family: 'Asleepytiming';
  font-size: 2em;
}

.nav:hover {
  transform: scale(1.05);
  color: #e0e2db;
}


/* ----------HOMEPAGE----------- */
.homepage-header {
  text-align: right;
  font-family: 'Games';
  font-size: 2em;
  position: relative;
  margin-right: 1em;
  color: #e0e2db;
}

.homepage {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.home-h1 {
  margin-top: 20%;
  font-family: 'Games';
  font-size: 6em;
  color: #e0e2db;
}

.home-h3, .homepage-signup {
  font-family: 'Momcake';
  font-size: 3em;
  color: #e0e2db;
}

.homepage-signup {
  margin-top: .5em;
}

.homepage-a {
  text-decoration: none;
  color: #e0e2db;
}

.homepage-a:hover {
  transform: scale(1.1)
}

#games {
  width: 250px;
  height: 250px;
}

#games:hover {
  transform: scale(1.1);
}



/* -------GAME INDEX PAGE ---------*/
.all-games {
  /* border: 1px solid #157145; */
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 1em;
}

.games-index {
  margin: 0 auto;
  padding: .5em;
  margin-top: 1em;
  background: #A799B7;
}

.game-index-name {
  font-family: 'Momcake';
  text-align: center;
  font-size: 1.9em;
}

.game-index-img {
  max-width: 220px;
}

.name-a {
  text-decoration: none;
  color: #445552;
}

.delete, .delete-user {
  border: none;
  font-family: 'GepesteV';
  background: #A799B7;
  color: #445552;
}

.delete:hover, .delete-user:hover {
  transform: scale(1.2);
  font-weight: bold;
  cursor: pointer;
  color: #ea1744;
}

/*---------- GAME SHOW PAGE ----------*/
.show-game {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: rgba(167, 153,183, .5);
  color: white;
  padding: 2em;
  margin-top: 7%;
}

.show-game-h1 {
  font-family: 'Momcake';
  font-size: 3.7em;
  text-align: left;
  margin-top: .3em;
  margin-bottom: .5em;
}

.show-game-sans-title {
  display: flex;
  justify-content: space-between;
  font-family: 'Asleepytiming';
  flex-wrap: wrap;
}

.show-game-img {
  max-width: 300px;
}

.game-year, .game-publisher, .game-dev, .personal-details {
  font-family: 'Momcake';
}

.show-h4 {
  font-size: 2em;
  font-family: 'Momcake';
  margin-top: .5em;
  margin-bottom: .1em;
}

.game-details-box {
  align-self: center;
  width: 10%;
  min-width: 10%;
  padding: 1em;
  margin-left: 1em;
}

.game-genre, .game-mode {
  font-size: 1.1em;
}

.platform-box, .game-details-box, .genres-box, .game-modes-box, .routes {
  background: rgba(167, 153,183, .4);
  padding: 10px;
  width: 160px;
}

.platforms, .genres, .game-modes {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: center;
  align-items: center;
  font-family: 'Asleepytiming';
}

.routes {
  align-self: flex-end;
  width: 80px;
}

.edit-btn {
  font-size: 1.5em;
  font-family: 'Asleepytiming';
}

.edit-a {
  text-decoration: none;
  color: white;
}

form {
  border: none;
}


/*------- NEW/EDIT/LOG-IN PAGE -------*/

.create-h1, .create-account, .choose-account, .prof-page {
  text-align: center;
  font-family: 'Momcake';
  font-size: 3em;
  color: #294d4a;
}
.login {
  font-family: 'Momcake';
  text-align: center;
  margin: 0 auto;
}

.profile-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.new-game, .new-user, .profile-box, .profile-details, .edit-game, .log-in-box {
  margin: 0 auto;
  background: rgba(167,153,183,.8);
  width: 50%;
  text-align: center;
  padding: 1em;
}

.edit-game-show-box {
  display: flex;
}

.user-index-img, .prof-pic {
  border-radius: 50%;
  max-width: 170px;
}

.new-game-form, .new-user-form, .edit-game {
  font-family: 'Momcake';
  font-size: 1.5em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-weight: bold;
  color: #294d4a;
}

.submit-new, .index-username, .edit-game-btn {
  font-family: 'Momcake';
  font-size: 1.5em;
  border: none;
  background: rgba(167,153,183,0);
  padding: 10px;
  color: #294d4a;
}

.submit-new:hover, .edit-game-btn:hover {
  color: #e0e2db;
  font-weight: bold;
  cursor: pointer;
}

/* GAME EDIT PAGE */
.edit-game, .edit-profile {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 15px;
  background: rgba(167, 153,183, .5);
}

.edit-game-form {
  background: rgba(167,153,183,.8);
  text-align: center;
}
