<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Master Games List</title>
  </head>
  <body>
    <header>
      <h1>GOOD GAMES</h1>
      <h3><a href="#">Your Profile</a></h3>
    </header>

    <container class="main-game-index">
      <div class="game">
        <h4>Game Title</h4>
        <a href="#"><img class="game-cover" src="#">Game</img><a>
      </div>
    </container>
  </body>
</html>
