<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Master Games List</title>
  </head>
  <body>
    <header>
      <h1>GOOD GAMES</h1>
      <h3><a href="#">Your Profile</a></h3>
    </header>

    <container class='game-list'>
      <% for (let i=0; i<games.length; i++) { %>
        <div class="game">
          <h3 class="title"><a href="/games/<%=games[i]._id%>">
            <%=games.name[i]%>
          </a></h3>
          <div class='game-pic-box'>
            <a href="/games/<%=games[i]._id%>">
              <img class='game-cover' src='<%=games[i].img%>'></img>
            </a>
          </div>
        </div>
      <% } %>
    </container>
  </body>
</html>
