<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>

    <h1> welcome </h1>

    <div class='log-in-box'>
      <form action='/sessions' method="POST">
        <input type="text" name="username" placeholder="username" value=""/>
        <input type="password" name="password" placeholder="password" value=""/>
        <input type="submit" placeholder="submit" value="log-in"/>
      </form>
    </div>
  </body>
</html>
